check_if_nan
divide_region_into_rectangles
flatten_any_dict_iterable_or_whatsoever
flatten_everything
intersection_grouper
isiter
locate_pixelcolor
numexpr
numpy
rect_intersection
regex
tolerant_isinstance